
.row.mt-5
	.col.text-center
		%h2 Modifica tu perfil
.row
	.col-6.offset-3.editform
		.row.mt-2
			.col.text-center
				%h5 Datos básicos
		= form_with(model: @profile, local: true) do |form|
			.field
				.row.mt-2
					.col-4.mt-2.offset-1
						= form.label :name, "Nombre:"
					.col-4.offset-1.mt-1
						= form.text_field :name
			.field
				.row
					.col-4.mt-2.offset-1
						= form.label :lastname, "Apellido:"
					.col-4.offset-1.mt-1
						= form.text_field :lastname
			.field
				.row
					.col-4.mt-2.offset-1
						= form.label :subtitle, "Ocupación:"
					.col-4.offset-1.mt-1
						= form.text_field :subtitle
			.field
				.row
					.col-4.mt-2.offset-1
						= form.label :email, "Correo:"
					.col-4.offset-1.mt-1
						= form.text_field :email
			.field
				.row
					.col-4.mt-2.offset-1
						= form.label :username, "Nombre de Usuario:"
					.col-4.offset-1.mt-1
						= form.text_field :username
				.field
				.row
					.col-4.mt-4.offset-1
						= form.label :biography, "Biografía:"
					.col-4.offset-1.mt-1
						= form.text_area :biography
			.field
				.row
					.col-4.mt-2.offset-1
						= form.label :birthdate, "Fecha de Nacimiento:"
					.col-4.offset-1.mt-1
						= form.date_field :birthdate
			.field
				.row
					.col-4.offset-1.mt-3
						= form.label :image, "Foto de Perfil:"
					.col-4.offset-1.mt-2
						.image
							= image_tag @profile.image, :class => "foto"
				.row
					.col.offset-2
						= form.file_field :image
			.actions
				.row.mt-4.mb-4
					.col.text-center
						= form.submit("Guardar",:class => "btn btn-primary")

.row.mt-2
	.col-6.offset-3
		.row
			.col.mt-2.text-center
				%h5 Hobbies
		%table
			%thead
				%tr
					%th Nombre
					%th Descripción
					%th Preferencia
					%th Categoría
					%th{colspan: "2"}
			%tbody
				- @profile.hobbies.each do |hobby|
					%tr
						%td= hobby.name
						%td= hobby.description
						%td= hobby.preference
						%td= hobby.category
						%td= link_to 'Editar', edit_profile_hobby_path(@profile.id, hobby.id)
						%td= link_to 'Eliminar', profile_hobby_path(@profile.id, hobby.id), method: :delete, data: { confirm: 'Estas seguro?' }
		.row.mt-2.text-center
			.col
				=link_to 'Nuevo Hobby', new_profile_hobby_path(@profile.id), class: 'btn btn-primary'




.row.mt-2.ml-1
	.col-6.offset-3
		.row
			.col.mt-2.text-center
				%h5 Certificaciones
		%table
			%thead
				%tr
					%th Nombre
					%th Archivo
					%th{colspan: "2"}
			%tbody
				- @profile.certifications.each do |certification|
					%tr
						%td= certification.name
						%td= certification.file.filename
						%td= link_to 'Editar', edit_profile_certification_path(@profile.id, certification.id)
						%td= link_to 'Eliminar', profile_certification_path(@profile.id, certification.id), method: :delete, data: { confirm: 'Estas seguro?' }
		.row.mt-2.text-center
			.col
				=link_to 'Nueva certificación', new_profile_certification_path(@profile.id), class: 'btn btn-primary'

.row.mt-2.ml-5
	.col-6.offset-3
		.row
			.col.mt-2.text-center.mr-5
				%h5 Amigos
		%table
			%thead
				%tr
					%th Alias
					%th URL
					%th{colspan: "2"}
			%tbody
				- @profile.friends.each do |friend|
					%tr
						%td= friend.alias
						%td= friend.url
						%td= link_to 'Editar', edit_profile_friend_path(@profile.id, friend.id)
						%td= link_to 'Eliminar', profile_friend_path(@profile.id, friend.id), method: :delete, data: { confrim: 'Estas seguro?' }
		.row.mt-2.text-center.mr-5
			.col
				=link_to 'Agregar', new_profile_friend_path(@profile.id), class: 'btn btn-primary'
.row.mt-4
	.col.offset-1
		=link_to 'Ir a tu perfil', root_path, class: 'btn btn-primary'

