-# %p#notice= notice
.headercontainer.col-10.offset-1
  .row
    .col-4.text-center.offset-4.mt-3
      %h1
        = @profile['profile']['firstname'] + " #{@profile['profile']['lastname']}"
  .row
    .col-4.text-center.offset-4.mb-2
      %h6
        = @profile['profile']['subtitle']

-# %p
-#   %b Nombre de usuario:
-#   = @profile['profile']['username']

.infocontainer.col-10.offset-1
  .row
    .col-11.offset-1.mt-2
      %h5 Información Básica

.basicdatacontainer.col-10.offset-1
  .row.mt-4
    .col-8.offset-1
      %p
        = @profile['profile']['bio']
      %p
        %b Edad:
        = @profile['profile']['birthdate']
      %p
        %b Correo Electrónico:
        = @profile['profile']['email']
    .col-2.offset-1
      .image 
        %img= image_tag @profile['profile']['image'], :class => "foto"

.infocontainer.col-10.offset-1
  .row
    .col-11.offset-1.mt-2
      %h5 Mis Hobbies
.hobbiescontainer.col-10.offset-1
  .row.mb-3
    - if @profile['profile']['hobbies'].present?
      - @profile['profile']['hobbies'].each do |hobby|
        .hobby.col-5.offset-1.mt-3
          .row.mt-2
            .col
              %strong= hobby.name
            .col
              %p= hobby.category
          .row
            .col
              %p= hobby.description
          .row
            .col
              = hobby.preference
    - else
      .col-5.offset-1.mt-3
        %p Edite su perfil para añadir hobbies  

.infocontainer.col-10.offset-1
  .row
    .col-11.offset-1.mt-2
      %h5 Mis Certificaciones
.certificatescontainer.col-10.offset-1.mb-2
  .row
    .col
      %ul 
      - if @profile['profile']['certificates'].present?
        - @profile['profile']['certificates'].each do |certificate|
          .row
            .col-5.offset-1.mt-2
              %li
                = certificate.name
                = link_to 'Descargar', url_for(certificate.file)
      - else
        .col-5.offset-1.mt-3
          %p Edite su perfil para añadir certificados
.infocontainer.col-10.offset-1
  .row
    .col-11.offset-1.mt-2
      %h5 Contactos
.friendscontainer.col-10.offset-1
  .row
    - if @profile['profile']['friends'].present?
      - @profile['profile']['friends'].each do |friend|
        .friend.col-3.offset-1.mt-4
          .row
            .col
              .image
                %img= image_tag @profile['profile']['image'], :class => "foto"
          .row.mt-2
            .col.text-center
              = link_to "#{friend.alias}", "http://localhost:3000/?url=#{friend.url}", class: 'link'
    - else
      .col-5.offset-1.mt-3
        %p Edite su perfil para añadir amigos 
.infocontainer.col-10.offset-1.mb-2.mt-2
  .row.mb-2.mt-3
    .col-8.offset-1.mt-1
      %h6 Developed by: Anderson Sánchez 2018
    .col-2.offset-1.mb-1
      = link_to 'Editar Perfil', edit_profile_path(@profile['profile']['id']), class: 'btn btn-primary btn-sm'

