%p#notice= notice
%p
  %b Name:
  = @profile[:profile][:firstname]
%p
  %b Lastname:
  = @profile[:profile][:lastname]
%p
  %b Ocupación:
  = @profile[:profile][:subtitle]
%p
  %b Correo Electrónico:
  = @profile[:profile][:email]
%p
  %b Nombre de usuario:
  = @profile[:profile][:username]
%p
  %b Biografía:
  = @profile[:profile][:bio]
%p
  %b Fecha de Nacimiento:
  = @profile[:profile][:birthdate]
.image
  = image_tag @profile.image
%ul Mis Hobbies
- @profile.hobbies.each do |hobby|
  %li
    = hobby.name
    = hobby.category
  %br
  %li
    = hobby.description
  %br
  %li
    = hobby.preference
  %br
%ul Mis Certificaciones
- @profile.certifications.each do |certification|
  %li
    = certification.name
    = link_to 'Descargar', url_for(certification.file)
  %br
%h1 Contactos
- @profile.friends.each do |friend|
  .frienddiv
    = link_to "#{friend.alias}", "http://localhost:3000/?url=#{friend.url}"
%br/
= link_to 'Editar Perfil', edit_profile_path(@profile)
