%p#notice= notice
%p
  %b Name:
  = @profile.name
%p
  %b Lastname:
  = @profile.lastname
%p
  %b Ocupación:
  = @profile.subtitle
%p
  %b Correo Electrónico:
  = @profile.email
%p
  %b Nombre de usuario:
  = @profile.username
%p
  %b Biografía:
  = @profile.biography
%p
  %b Fecha de Nacimiento:
  = @profile.birthdate


= link_to 'Edit', edit_profile_path(@profile)