%h1 Modifica tu amigo

= form_with(model: [:profile, @friend], local: true) do |form|
	.field
		= form.label :alias, "Alias"
		= form.text_field :alias
	.field
		= form.label :url, "URL"
		= form.text_field :url
	.actions
		= form.submit("GUARDAR")