%button.btn.btn-primary{ data: { target: '#modal', toggle: 'modal' } }
  .row
    .col
      Crear perfil

#modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        .row
          .col-8.text-right
            %h4.modal-title
              Datos básicos
          .col-2.offset-2
            %button.close{ 'data-dismiss': 'modal' }
              x
          .modal-body
            = form_with(model: @profile, local: true) do |form|
              .field
                .row
                  .col-4.offset-1
                    = form.label :name, "Nombre:"
                  .col-4.offset-1
                    = form.text_field :name                    
              .field
                .row.mt-1
                  .col-4.offset-1
                    = form.label :lastname, "Apellido:"
                  .col-4.offset-1
                    = form.text_field :lastname
              .field
                .row.mt-1
                  .col-4.offset-1
                    = form.label :subtitle, "Ocupación:"
                  .col-4.offset-1
                    = form.text_field :subtitle
              .field
                .row.mt-1
                  .col-4.offset-1
                    = form.label :email, "Correo:"
                  .col-4.offset-1
                    = form.text_field :email
              .field
                .row.mt-1
                  .col-5.offset-1
                    = form.label :username, "Nombre de Usuario:"
                  .col-3
                    = form.text_field :username
              .field
                .row.mt-1
                  .col-4.offset-1
                    = form.label :biography, "Biografía:"
                  .col-4.offset-1
                    = form.text_area :biography
              .field
                .row.mt-1
                  .col-5.offset-1
                    = form.label :birthdate, "Fecha de Nacimiento:"
                  .col-3
                    = form.date_field :birthdate
              .actions
                .row.mt-4
                  .col.text-center
                    = form.submit("CREAR",:class => "btn btn-primary")