%h1 Modifica tu Hobby

= form_with(model: [:profile , @hobby], local: true) do |form|
  .field
    = form.label :name, "Nombre"
    = form.text_field :name
  .field
    = form.label :description, "Descripción"
    = form.text_field :description
  .field 
    = form.label :preference, "Preferencia"
    = form.text_field :preference
  .field
    = form.label :category, "Categoria"
    = form.select :category, Hobby.categories.keys.map { |category| [category.titleize, category]}, include_blank: true
  .actions
    = form.submit("GUARDAR")