%h1 Modifica tu certificación

= form_with(model: [:profile, @certification], local: true) do |form|
	.field
		= form.label :name, "Nombre"
		= form.text_field :name
	.field
		= form.label :file, "Nombre"
		= form.file_field :file
	.actions
		= form.submit("GUARDAR")
