%h1 Nueva Certificación

= form_with(model: [@profile, @certification], local: true) do |form|
	.field
		= form.label :name, "Nombre"
		= form.text_field :name
	.field
		= form.file_field :file
	.actions
		= form.submit("CREAR")
