/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 .headercontainer {
  border-top: 3px solid black;
  border-bottom: 1.5px solid black;
  background: rgba(44, 44, 140, 0.94);
 }

 .infocontainer {
   border-top: 2px solid black;
   border-bottom: 2px solid black;
   background:rgba(242, 242, 242, 1);
 }

 h1 {
   color: white;
   font-size:  4.5vh;
   font-size: 2vw;
 }

 h5 {
   color: rgba(247, 104, 8, 0.91);
   font-weight:bold;
 }

 h6 {
  color: rgba(247, 104, 8, 0.91);
  font-weight:bold;
}

h4 {
  color: black;
}


.image {
  border: 1.5px solid rgba(247, 104, 8, 0.91);
  width: 100%;
}

.foto {
  width: 100%;
  height: 100%;
  
}

.btn {
  background-color: rgba(44, 44, 140, 0.94);
  border: 1px solid rgba(44, 44, 140, 0.94);
}

.btn:hover {
  background-color: rgba(247, 104, 8, 0.91);
  border: 1px solid rgba(247, 104, 8, 0.91);
}

.link {
  color: rgba(44, 44, 140, 0.94);
}

.link:hover {
  color: rgba(247, 104, 8, 0.91);
}

.modal-header {
  border: 3px solid rgba(44, 44, 140, 0.94);
  background:rgba(242, 242, 242, 1);
}


.editform {
  border: 3px solid rgba(44, 44, 140, 0.94);
  background:rgba(242, 242, 242, 1);
  border-radius: 1%;
  -webkit-border-radius: 1%;
  -moz-border-radius: 1%;
  -ms-border-radius: 1%;
  -o-border-radius: 1%;
}


table {
  border: 3px solid rgba(44, 44, 140, 0.94);
}

tbody {
  background:rgba(242, 242, 242, 1);
}

th {
text-align: center;
}

td {
  text-align: center;
  }

  tr {
    border: 1px solid black;
  }