.info
	.row.mt-5
		.col.text-center
			%h2 Date a conocer
	.row.mt-2
		.col.text-center
			%h2 Agrega información adicional (fotos, hobbies, certificaciones, amigos)
	.row.mt-2
		.col-2.offset-4.text-center
			= link_to 'Ir al perfil', profiles_path, class: 'btn btn-primary'
		.col-2.text-center
			= link_to 'Editar perfil', edit_profile_path(@profile), class: 'btn btn-primary'


